@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		GLOBAL
============================================================================= */

* {
	box-sizing: border-box;
}

img {
	// IE9 image border fix
	border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
	display: block;
	// Corrects `block` display not defined in IE 9.
}

html {
	-webkit-text-size-adjust: 100%;
	// Prevents iOS text size adjust after orientation change, without disabling user zoom.
	-ms-text-size-adjust: 100%;
}

body {
	font-size: $base-font-size;
	font-family: $baseFontFamily;
	color: $baseColor;
	background: url(../images/main-bg-pattern.png) $mainBgColor;
	margin: 0;
	// Removes default margin.
}

///* @group selection fixes
//  --------------------------------------------------------------------------- */

::-moz-selection {
	text-shadow: none;
	background: #bbe79e;
}

::selection {
	text-shadow: none;
	background: #bbe79e;
}

body {
	-webkit-tap-highlight-color: rgb(187,231,158);
}

///* @end */