@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Embed fonts
============================================================================= */

@font-face {
	font-family: 'AA-BebasNeue';
	src: url('../fonts/AA-BebasNeue/aa-bebasneue.eot');
	src: url('../fonts/AA-BebasNeue/aa-bebasneue.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/AA-BebasNeue/aa-bebasneue.woff') format('woff'), 
	 	url('../fonts/AA-BebasNeue/aa-bebasneue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PlayRegular';
	src: url('../fonts/PlayRegular/play-regular.eot');
	src: url('../fonts/PlayRegular/play-regular.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/PlayRegular/play-regular.woff') format('woff'), 
	 	url('../fonts/PlayRegular/play-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PlayBold';
	src: url('../fonts/PlayBold/play-bold.eot');
	src: url('../fonts/PlayBold/play-bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/PlayBold/play-bold.woff') format('woff'), 
	 	url('../fonts/PlayBold/play-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}