@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Typography
============================================================================= */

h1, .h1 {
	margin: 0 0 22px 0;
	font-weight: normal;
}

p {
	margin: 0;
}

strong,
b {
	font-weight: normal;
	font-family: $playBold;
}

a {
	color: $lnColor;
	@include color-transition;
	&:hover,
	&:active {
		color: $lnHoverColor;
		outline: none;
		// Improves readability when focused and also mouse hovered in all browsers.
	}
}
