@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
   Form support
============================================================================ */

$inputPadding: 15px;
$inputHeight: 39px;
$formRowMargin: 12px;
$formItemMargin: 5px;

/* @group Forms generic reset
  --------------------------------------------------------------------------- */

form {
	border: none;
	margin: 0;
	// IE7

	button,
	input,
	select,
	textarea {
		margin: 0;
		// Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
		padding: 0;
		vertical-align: baseline;
	}

	input {
		//&[type="button"],
		//&[type="image"],
		&[type="submit"],
		&[type="reset"] {
			-webkit-appearance: button; //Corrects inability to style clickable 'input' types in iOS
		}

		&[type="checkbox"],
		&[type="radio"] {
			box-sizing: border-box;
			padding: 0;
			cursor: pointer;
		}

		&[type="radio"] {
			vertical-align: text-top;
		}

		&[type="checkbox"] {
			vertical-align: baseline;
		}

	}

}

label {
	display: block;
	line-height: 1.2;
}
input[type="email"],
input[type="text"],
select,
textarea {
	padding: 0 $inputPadding;
	margin: 0;
	height: $inputHeight;
	width: 100%;
	background: $mainBgColor;
	border: 1px solid #b8b8b8;
	height: 41px;
	font: 20px/39px $sans;
	box-shadow: inset 0px 1px 1px 0px rgba(236,236,236,1);
	@include border-transition;
	&:hover {
		border-color: #9a9a9a;
	}
	&:focus {
		outline: none;
		border-color: $accentColor;
	}
}

form textarea {
	overflow: auto; //Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; //Improves readability and alignment in all browsers
	height: auto; // overwrite theming on form element
	min-height: 120px;
	line-height: $base-line-height;
	padding: 8px 15px;
	resize: none;
}

select {
	&[multiple="multiple"] {
		height: auto; // overwrite theming on form element
	}
}

.form-add-file {
	border: 1px dashed #b8b8b8;
	position: relative;
	width: 236px;
	height: 228px;
	.jstyling-file {
		position: static;
	}
	.jstyling-file-f {
		visibility: hidden;
	}
	.jstyling-file-b {
		margin: 0;
		padding: 160px 0 0 0;
		background: url(../images/icon-person.png) no-repeat 66px 46px;
		position: absolute;
		font-size: 20px;
		cursor: pointer;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	input[type="file"] {
		cursor: pointer;
	}
}

button,
input {
	&::-moz-focus-inner {
		border: none; // Removes inner padding and border in FF3+ www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
		padding: 0;
	}
}

/* @group Form Elements
  --------------------------------------------------------------------------- */

.form-title {
	text-transform: uppercase;
	text-align: center;
	font: 30px/1.2 $sans;
	margin-bottom: 22px;
}

.form-row {
	@extend .clfx;
	clear: both;
	margin: 0 0 $formRowMargin;
}

.form-item {
	float: left;
}

.form-row-title {
	font-size: 20px;
	margin-bottom: 6px;
}

.radiobuttons-list {
	font-size: 20px;
	margin: 14px 0;
}

.form .radiobutton-label,
.radiobutton-label {
	line-height: 20px;
}

.radiobutton-label {
	position: relative;
	padding-left: 35px;
	margin-bottom: 10px;
	.jstyling-radio {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.form-row_submit {
	text-align: center;
}

.form-submit {
	font: 20px/1 $sans;
	border-radius: 4px;
	background: #9de36e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9de36e), color-stop(100%,#8fce65));
	background: -webkit-linear-gradient(top,  #9de36e 0%,#8fce65 100%);
	background: -ms-linear-gradient(top,  #9de36e 0%,#8fce65 100%);
	background: linear-gradient(to bottom,  #9de36e 0%,#8fce65 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9de36e', endColorstr='#8fce65',GradientType=0 );
	color: $baseColor;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	font-size: 22px;
	padding: 11px 35px;
	&:hover, &:active {
		background: #87e246;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e246), color-stop(100%,#73cc39));
		background: -webkit-linear-gradient(top,  #87e246 0%,#73cc39 100%);
		background: -ms-linear-gradient(top,  #87e246 0%,#73cc39 100%);
		background: linear-gradient(to bottom,  #87e246 0%,#73cc39 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e246', endColorstr='#73cc39',GradientType=0 );
	}
	&:active {
		transition: box-shadow 0.1s ease;
		box-shadow: inset 0px 3px 8px 0px rgba(0,0,0,0.25);
	}
	&:focus {
		outline: none;
	}
}

/* @end */