@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		MASTER-CLASSES
============================================================================= */

.clfx {
	@include clfx;
}

/* position support */

.aux {
	width: $containerWidth;
	margin: 0 auto;
}

.br {
	display: block;
}

/* style support */

.psln {
	color: $lnColor;
	text-decoration: underline;
	border-bottom: 1px solid;
	display: inline-block;
	vertical-align: baseline;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $lnHoverColor;
	}
}

/* buttons, icons */

.btn,
.icon {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	border: none;
}

.btn {
	background: #a4e45d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4e45d), color-stop(100%,#8cc252));
	background: -webkit-linear-gradient(top,  #a4e45d 0%,#8cc252 100%);
	background: -ms-linear-gradient(top,  #a4e45d 0%,#8cc252 100%);
	background: linear-gradient(to bottom,  #a4e45d 0%,#8cc252 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4e45d', endColorstr='#8cc252',GradientType=0 );
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 11px;
	border-radius: 4px;
	&:hover, &:active {
		color: #fff;
		background: #95e23d;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95e23d), color-stop(100%,#78c124));
		background: -webkit-linear-gradient(top,  #95e23d 0%,#78c124 100%);
		background: -ms-linear-gradient(top,  #95e23d 0%,#78c124 100%);
		background: linear-gradient(to bottom,  #95e23d 0%,#78c124 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e23d', endColorstr='#78c124',GradientType=0 );
	}
	&:active {
		transition: box-shadow 0.1s ease;
		box-shadow: inset 0px 2px 6px 0px rgba(0,0,0,0.25);
	}
}

.btn_bind {
	padding: 4px;
	background: #9de36e;
	background: -moz-linear-gradient(top,  #9de36e 0%, #8fce65 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9de36e), color-stop(100%,#8fce65));
	background: -webkit-linear-gradient(top,  #9de36e 0%,#8fce65 100%);
	background: -o-linear-gradient(top,  #9de36e 0%,#8fce65 100%);
	background: -ms-linear-gradient(top,  #9de36e 0%,#8fce65 100%);
	background: linear-gradient(to bottom,  #9de36e 0%,#8fce65 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9de36e', endColorstr='#8fce65',GradientType=0 );
}

.icon_bind {
	width: 19px;
	height: 19px;
	background: url(../images/icon-sprite.png) no-repeat 0 -21px;
}