@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Layout: global
============================================================================= */

.l-main-aux {
	position: relative;
	width: $containerWidth;
	margin: 0 auto;
	padding: 0 10px;
}

.l-region-main {
	background: $mainBgColor;
	position: relative;
	border-left: 3px solid #8fce65;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
	width: $containerWidth - 21px;
}

.l-footer {
	background: #434a54;
	margin: 0 -10px;
	min-height: 54px;
	color: #fff;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 9px;
		height: 9px;
		background: url(../images/icon-sprite.png) no-repeat -12px -12px;
		position: absolute;
		z-index: 3;
		top: -9px;
		left: 1px;
	}
	&:after {
		content: "";
		display: block;
		width: 9px;
		height: 9px;
		background: url(../images/icon-sprite.png) no-repeat 1px -12px;
		position: absolute;
		z-index: 3;
		top: -9px;
		right: 1px;
	}
}