/* ============================================================================
		MEDIA PRINT
============================================================================= */

/* some general resets */
@page {
	margin: 1.5cm;
}

* {
	background: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	break-inside: avoid;
	break-after: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

a,
a:link,
a:visited {
	color: #444 !important;
	text-decoration: underline !important;
}

.region-main__content {
	/* add links only for content */
	a[href]:after {
		content: " (" attr(href) ")" !important;
		font-family: monospace !important;
	}

	a[href^="/"]:after {
		content: " (http://siteurlhere.com" attr(href) ")";
		font-family: monospace !important;
	}

	/* Don't print links for images, javascript or internal links */
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

}

abbr[title]:after {
	content: " (" attr(title) ")";
	font-weight: normal;
}

pre, blockquote {
	page-break-inside: avoid;
}

thead {
	display: table-header-group; /* Repeat header row at top of each printed page */
	page-break-inside: avoid;
}

tr, img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

/* hide elements that are unnecessary to print */
.region-aside {
	display: none !important;
}

.region-main {
	width: 100%;
}

/* some cosmetic changes */

.l-header {
	padding-top: 0;
}

/* end media print */