@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Main
============================================================================= */

.l-header {
	.logo {
		float: left;
		width: 115px;
		height: 53px;
		margin: 4px 0 0 14px;
	}
	.autorization-actions {
		margin: 16px 19px 0 0;
	}
	.language-toggle {
		float: left;
		margin: 23px 15px 0 0;
	}
}

.logo,
.logo-image {
	display: block;
}

.header-row-intro {
	background: url(../images/intro.jpg) no-repeat top center;
	color: #fff;
	min-height: 231px;
	text-align: center;
	.landing-intro-slogan {
		margin-top: 66px;
	}
}

.header-row-top {
	background: $mainBgColor;
	@include clfx;
	width: $containerWidth - 22px;
	margin: 0 auto;
	min-height: 64px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
	.header-row-right {
		text-align: right;
	}
}

.header-row-left {
	float: left;
}

.header-row-right {
	float: right;
}

.landing-intro-slogan {
	display: inline-block;
	vertical-align: middle;
	border-top: 6px solid #fff;
	border-bottom: 6px solid #fff;
	text-transform: uppercase;
	font: 50px/72px $AABebasNeue;
}

.autorization-actions {
	@include list-unstyled;
	float: right;
	li {
		display: inline-block;
		vertical-align: top;
	}
	.btn_login {
		width: 88px;
	}
}

.language-toggle {
	@include psln;
	font-size: 16px;
}

.global-nav {
	margin: 0 -10px;
	position: relative;
	font-size: 16px;
	text-transform: uppercase;
	&:before {
		content: "";
		display: block;
		width: 10px;
		height: 9px;
		position: absolute;
		bottom: -9px;
		left: 0;
		z-index: 2;
		background: url(../images/icon-sprite.png) no-repeat -11px 0;
	}
	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 9px;
		position: absolute;
		bottom: -9px;
		right: 0;
		z-index: 2;
		background: url(../images/icon-sprite.png) no-repeat;
	}
	.accent-item {
		a {
			background: #8cc152;	
			&:hover {
				background: #72ac33;
			}
		}
	}
}

.global-nav-inner {
	@include list-unstyled;
	@include clfx;
	background-color: #8cc152;
	text-align: center;
	li {
		float: left;
		border-left: 1px solid #8fce65;
		&:first-child {
			border-left: 0;
		}
		&:last-child {
			border-left: 0;
			position: absolute;
			top: 0;
			right: 0;
			a {
				padding: 18px 38px;
			}
		}
	}
	a {
		color: #fff;
		display: block;
		background: #3f3f3f;
		padding: 18px 36px;
		text-decoration: none;
		transition: background 0.1s ease;
		&:hover {
			background: #8cc152;
		}
	}
}

.region-main-content {
	padding: 31px 49px;
}

.breadcrumbs {
	margin: 0 0 24px 0;
	padding: 0;
	list-style: none;
	color: $accentColor;
	text-transform: uppercase;
	@include clfx;
	li {
		float: left;
		position: relative;
		margin-right: 5px;
		&:first-child {
			padding-left: 15px;
		}
		&:first-child:before {
			content: "";
			background: url(../images/icon-sprite.png) no-repeat 0 -80px;
			width: 13px;
			height: 10px;
			display: block;
			position: absolute;
			left: 0;
			top: 3px;
		}
		&:after {
			content: "/";
		}
		&:last-child:after {
			content: "";
		}
	}
	a {
		color: #757a82;
		text-decoration: none;
		&:hover {
			color: $lnHoverColor;
		}
	}
}

.radiobuttons-list {
	margin: 14px 0;
	padding: 0;
	list-style: none;
}

.radiobutton-label {
	position: relative;
	cursor: pointer;
}

.rating-starts {
	@include list-unstyled;
}

.rating-starts-item {
	cursor: pointer;
	margin-right: 8px;
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 44px;
	background: url(../images/rating-stars-sprite.png) no-repeat 1px -43px;
	&:hover {
		background-position: 1px -86px;
	}
	&.filled {
		cursor: default;
		background-position: 1px 0;
	}
}

.socials-networks-list {
	@include list-unstyled;
	li {
		padding: 6px 0;
		font: 20px/27px $sans;
		border-top: 1px solid #b8b8b8;
		&:last-child {
			border-bottom: 1px solid #b8b8b8;
		}
		.btn {
			float: right;
		}
		.btn, .icon {
			line-height: 1;
		}
	}
}

.icon_facebook {
	width: 26px;
	height: 27px;
	background: url(../images/socials-sprite.png) no-repeat;
}

.icon_vkontakte {
	width: 26px;
	height: 27px;
	background: url(../images/socials-sprite.png) no-repeat 0 -81px;
}

.icon_linkedin {
	width: 26px;
	height: 27px;
	background: url(../images/socials-sprite.png) no-repeat 0 -54px;	
}

.icon_twitter {
	width: 26px;
	height: 27px;
	background: url(../images/socials-sprite.png) no-repeat 0 -27px;	
}

.radiobuttons-list-inline {
	@include list-unstyled;
	font-size: 20px;
	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 9px;
	}
	.radiobutton-label {
		margin: 0;
		padding-left: 48px;
		line-height: 42px;
	}
}

.radiobuttons-bigger {
	.jstyling-radio, {
		width: 42px;
		height: 42px;
		background: url(../images/radiobuttons-sprite-bigger.png);
		&:hover {
			background-position: 0 -42px;
		}
		&.active {
			background-position: 0 -84px;
		}
	}
	.radiobutton-label:hover .jstyling-radio {
		background-position: 0 -42px;
	}
	.radiobutton-label:hover .jstyling-radio.active {
		background-position: 0 -84px;
	}
}

.copy {
	text-align: center;
	font: 20px/54px $sans;
}

.column-left {
	float: left;
	padding-top: 7px;
}

.column-right {
	float: right;
}

.form_partner-questionnaire {
	.form-preamble {
		font-size: 20px;
		margin-bottom: 20px;
		strong {
			font-size: 18px;
		}
	}
	.column-left {
		width: 366px;
	}
	.column-right {
		width: 483px;
	}
	.form-row-footnote {
		font-size: 24px;
		margin-top: 26px;
	}
	.form-row_submit {
		padding-top: 14px;
	}
}

.form_volunteer-questionnaire {
	padding-top: 9px;
	.form-item_sex-select {
		width: 320px;
	}
	.form-item_age-select {
		float: right;
		width: 129px;
	}
	.column-left {
		width: 367px;
	}
	.column-right {
		width: 483px;
	}
	.form-row_select-userinfo {
		margin-bottom: 7px;
	}
	.form-row_user-english-level {
		margin-bottom: 5px;
	}
	.form-row_submit {
		padding-top: 38px;
		margin-bottom: 40px;
	}
}

.signed-ppl-counter {
	position: absolute;
	z-index: 5;
	top: 66px;
	left: -12px;
}

.signed-ppl-icon {
	background: url(../images/icon-sprite.png) no-repeat #8fce65 -68px 4px;
	width: 40px;
	height: 40px;
	display: block;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 40px;
		width: 9px;
		height: 10px;
		background: url(../images/icon-sprite.png) no-repeat -25px 0;
	}
}

.signed-ppl-value {
	display: block;
	font: 14px/27px $sans;
	padding-left: 15px;
}