/**
 * Customize at your own risk
 */

.jstyling-select {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;
}

.jstyling-select-t {
	white-space: nowrap;
	overflow: hidden;
}

.jstyling-select-l {
	margin: 0;
	padding: 0;
	width: 100%;
	display: none;
	position: absolute;
	overflow-y: auto;
	z-index: 1000;

	div {
		list-style: none;
		display: block;
		white-space: nowrap;
		overflow: hidden;
	}
}

.jstyling-select.active {
	z-index: 700;

	.jstyling-select-l {
		display: block;
	}
}

.jstyling-checkbox,
.jstyling-radio {
	margin: 0;
	padding: 0;
	display: inline-block;
	z-index: 3;
	input[type=checkbox],
	input[type=radio] {
		opacity: 0;
		filter: alpha(opacity = 0);
		z-index: 0;
		cursor: pointer;
	}
}

.jstyling-file {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}

	input[type=file] {
		margin: 0;
		padding: 0;
		opacity: 0;
		filter: alpha(opacity = 0);
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.jstyling-file-f {
	overflow: hidden;
	white-space: nowrap;
}

.jstyling-file-b {
	position: relative;
	overflow: hidden
}

/**
 * This you can customize
 */

/* Select wrapper */

.jstyling-select {
	width: 100%;
	font-size: 20px;
	border: 1px solid #b8b8b8;
	cursor: pointer;
	@include border-transition;
	&:hover {
		border: 1px solid #9a9a9a;
		.jstyling-select-s {
			background: url(../images/select-sprite.png) no-repeat right -39px;
		}
	}
	&.active {
		border: 1px solid #95c562;
		border-bottom: 1px solid transparent;
		.jstyling-select-s {
			background: url(../images/select-sprite.png) no-repeat right -78px;
		}	
	}
}

/* Select current option */

.jstyling-select-s {
	height: 39px;
	line-height: 39px;
	padding: 0 53px 0 15px;
	background: url(../images/select-sprite.png) no-repeat right -1px;
}

.jstyling-select-t {
	width: 100%;
}

/* Select options list*/

.jstyling-select-l {
	max-height: 184px;
	background: $mainBgColor;
	box-sizing: content-box;
	border: 1px solid #95c562;
	border-top: 0;
	top: 38px;
	left: -1px;
	div {
		min-height: 30px;
		line-height: 30px;
		border-top: 1px solid #b8b8b8;
		padding: 3px 15px;
		box-sizing: content-box;
		&:hover {
			background: #b8b8b8;
		}
		&.disabled {
			background: #E5E5E5;
		}
		&.disabled:hover {
			color: #000000;
		}
		&:first-child {
			border-top: 0
		}
	}

}

.jstyling-select {
	&.active {
		background-position: 100% -28px;
	}
	&.disabled {
		background-color: #E5E5E5;
	}
}

/* Checkbox */

.jstyling-checkbox {
	width: 16px;
	height: 16px;
	background: url(../images/plugins/jstyling/jcusel-checkbox-radio.png) no-repeat;
	vertical-align: middle;
	&.active {
		background-position: 100% -16px;
	}
	&.disabled {
		background-position: 100% -32px;
	}
	&.active.disabled {
		background-position: 100% -48px;
	}
}

/* Radio button */

.jstyling-radio {
	width: 20px;
	height: 20px;
	background: url(../images/radiobuttons-sprite.png) no-repeat 0 -30px;
	vertical-align: middle;
	&.active {
		background-position: 0 0;
	}
}

/* File input */

.jstyling-file-f {
	padding: 2px 2px;
	width: 200px;
	float: left;
	border: 1px solid #ccc;
	height: 20px;
}

.jstyling-file-b {
	margin-left: 4px;
	padding: 2px 2px;
	width: 80px;
	float: left;
	border: 1px solid #ccc;
	height: 20px;
	background: #eee;
	text-align: center;
}