$sans: 'PlayRegular', Arial, FreeSans, sans-serif;
$playBold: 'PlayBold', Arial, FreeSans, sans-serif;
$AABebasNeue: 'AA-BebasNeue', Arial, FreeSans, sans-serif;
$hSans: Verdana, "Bitstream Vera Sans", "DejaVu Sans", sans-serif;
$hSansCond: Tahoma, Geneva, "DejaVu Sans Condensed", sans-serif;
$serif: "Times New Roman", Times, "FreeSerif", "Nimbus Roman No9 L", serif;
$bSerif: Georgia, "Bitstream Charter", "Century Schoolbook L", serif;
$aSerif: Palatino, "Palatino Linotype", Palladio, "URW Palladio L", "Book Antiqua", serif;
$monospSerif: "Courier New", Courier, FreeMono, "Nimbus Mono L", monospace;
$monospSans: "Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
$grotCond: "Arial Narrow", "DejaVu Sans Condensed", sans-serif;
$futura: "FuturaMediumRegular", Futura, "URW Gothic L", Arial, FreeSans, sans-serif;

// ============================================================================
//  Basic configuration
//=============================================================================

$mainBgColor: #fff;
$mainFgColor: #ccc;
$baseColor: #434a54;
$accentColor: #95c562;
$lnColor: #8cc152;
$lnHoverColor: darken($lnColor, 20%);
$containerWidth: 1000px;

// Font configuration
//  ---------------------------------------------------------------------------

$baseFontFamily: $sans;
$baseFontFamilyMono: $monospSerif;

$base-font-size: 14px; // The font size set on the root html element.
$base-line-height: 18px; // This line-height determines the basic unit of vertical rhythm.