// ============================================================================
//  Layout support
//=============================================================================

// Clearfix
@mixin clfx {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	.ie6-7 & {
		zoom: 1;
	}
}

@mixin psln {
	color: $lnColor;
	text-decoration: underline;
	display: inline-block;
	vertical-align: baseline;
	cursor: pointer;
	&:hover,
	&:focus {
		color: $lnHoverColor;
	}
}

@mixin list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin border-transition {
	transition: border 0.1s linear;
}

@mixin color-transition {
	transition: color 0.1s linear;
}

@mixin background-image-transition {
	transition: background-position 0.1s ease-in-out;
}